<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sigmoid98.business.mapper.SmsCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sigmoid98.business.domain.SmsCode">
        <id column="id" property="id"/>
        <result column="mobile" property="mobile"/>
        <result column="code" property="code"/>
        <result column="use" property="use"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , mobile, code, use, status, created_at, updated_at
    </sql>

</mapper>
